<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.ipcc.ivr.rapeech.mapper.IvrDisplayOnlineManageMapper">

	<select id="selectIvrOnlineDisplayInfo" resultType="lmap">
		SELECT CHANNEL_NO, TENANT_ID, CENTER_CODE, CALL_UUID, STATUS, DELAYS, ERRORS, AI_ALARMS, DIALOGS, 
		
		DATE_FORMAT(UPDATED_AT, '%Y %m %d %H:%i:%s') UPDATED_AT
		FROM oms_110.oms_channel_online
	</select>
</mapper>