<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.backoffice.bas.code.mapper.ClassificationInfoManageMapper">
	<select id="selectClassificationInfoListByPagination" resultType="camelmap">
		SELECT R.* FROM
		(
			SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
			       ROW_NUMBER() OVER (ORDER BY A.CODE_ID ASC) AS RNUM, 
				   A.CD_ID, A.CD_NM, A.CD_EXPI, A.USE_YN, A.SYST_CD, A.INTT_CD, A.HGRN_CD_ID, A.CD_LVL,
				   A.FRST_REGIST_PNTTM, A.FRST_REGISTER_ID, A.LAST_UPDT_PNTTM, A.LAST_UPDUSR_ID,
				   A.CODE, A.CD_ID_ORDER
			FROM TB_CLASSIFICATION A				     
			WHERE 1=1
			<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
				AND (A.CD_NM LIKE CONCAT('%', #{params.searchKeyword},'%')  )
			</if>					
		) R
		WHERE RNUM BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}    
		ORDER BY RNUM ASC
	</select>
	
	<select id="selectClassificationInfoDetail" resultType="ClassificationInfo">
		SELECT  A.CD_ID, A.CD_NM, A.CD_EXPI, A.USE_YN, A.SYST_CD, A.INTT_CD, A.HGRN_CD_ID, A.CD_LVL,
				A.FRST_REGIST_PNTTM, A.FRST_REGISTER_ID, A.LAST_UPDT_PNTTM, A.LAST_UPDUSR_ID,
				A.CODE, A.CD_ID_ORDER
		FROM TB_CLASSIFICATION A		     
		WHERE A.CD_ID = #{cdId}
	</select>
	
	<insert id="insertClassificationInfo">
		INSERT INTO TB_CLASSIFICATION
		(
			CD_ID, CD_NM, CD_EXPI, USE_YN, SYST_CD, INTT_CD, HGRN_CD_ID, CD_LVL,
			FRST_REGIST_PNTTM, FRST_REGISTER_ID, LAST_UPDT_PNTTM, LAST_UPDUSR_ID,
			CODE, CD_ID_ORDER
		)
		VALUES
		(
			#{cdId}, #{cdNm}, #{codeIdDc}, #{useAt}, #{clCode}, 
			NOW(), #{userId}, NOW(), #{userId}
		)
	</insert>	
	
	<update id="updateClassificationInfo">
		UPDATE TB_CLASSIFICATION SET CODE_ID_NM = #{codeIdNm}, 
								 CODE_ID_DC = #{codeIdDc}, 
								 USE_AT = #{useAt}, 
								 LAST_UPDUSR_ID = #{userId},
								 LAST_UPDT_PNTTM = NOW()
		WHERE CD_ID = #{cdId}
	</update>	
	
	<delete id="deleteClassificationInfo">
   		DELETE FROM TB_CLASSIFICATION WHERE CD_ID = #{cdId}
	</delete>
</mapper>