<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.backoffice.sys.pbx.avaya.mapper.AgentInfoManageMapper">
	<select id="selectAgentInfoPageList" resultType="camelmap">     	      
		SELECT * FROM 
		( 
			SELECT 	
				SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, 
				TB.* 
			FROM 	
			(	
				SELECT @ROWNUM := @ROWNUM + 1 AS RNUM,
					 			A.LOGIN_ID, A.NAME, A.EXTENSION, A.SN, A.SN_INDEX, A.SR, A.SR_INDEX, 
					 			DATE_FORMAT( A.AGENT_UPDATE, '%Y-%m-%d') AGENT_UPDATE
				FROM TB_AGENTINTO A,  (select @ROWNUM := 0) RN_TB
				WHERE 1=1
				<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
					<choose>
						<when test="params.searchCondition == 'name'">
							AND A.NAME LIKE   CONCAT('%',#{params.searchKeyword},'%')  
						</when>
						<otherwise>
							AND A.LOGIN_ID  LIKE   CONCAT('%',#{params.searchKeyword},'%')  
						</otherwise>
					</choose>
				</if>
				<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.Exists)">
					AND  A.LOGIN_ID NOT IN (SELECT PBX_LOGIN_ID FROM TB_CONSULTANT WHERE COUN_STATUS = 'Y' )
					AND A.LOGIN_ID BETWEEN #{params.searchStart} AND #{params.searchEnd}
				</if>
			) TB 
		) TA
		ORDER BY TA.RNUM DESC 
		LIMIT #{params.firstIndex},#{params.recordCountPerPage} 
		
	</select>
	<select id="selectAgentInfoDetail" resultType="AgentInfo">
		SELECT  A.LOGIN_ID, A.NAME, A.EXTENSION, A.SN, A.SN_INDEX, A.SR, A.SR_INDEX, A.AGENT_UPDATE
		FROM TB_AGENTINTO A
		WHERE LOGIN_ID = #{loginId}
	</select>
<select id="selectAgentInfoScenList" resultType="AgentScenInfo">
		SELECT  A.SCEN_GUBUN, A.SCEN_POSITION, A.SCEN_VALUE
		FROM TB_AGENTINTO_SNSR_INFO A
		WHERE LOGIN_ID = #{loginId}
	</select>
	
	
	
	<insert id="insertAgentInfoList">
		<foreach collection="list" item="item" separator="">
			INSERT INTO TB_AGENTINTO	
			(
				LOGIN_ID, NAME, AGENT_UPDATE
			)
			VALUES 
			(
				#{item.loginId}, #{item.name},  NOW()
			)
			ON DUPLICATE KEY 
			UPDATE LOGIN_ID = #{item.loginId}, NAME =  #{item.name}, AGENT_UPDATE = NOW();
			DELETE FROM TB_AGENTINTO_SNSR_INFO WHERE  LOGIN_ID = #{item.loginId};
			<foreach collection="item.scenInfos" item="subItem" separator=";">
				INSERT INTO TB_AGENTINTO_SNSR_INFO(LOGIN_ID, SCEN_GUBUN, SCEN_POSITION, SCEN_VALUE)
				VALUES(#{item.loginId},  #{subItem.scenGubun},  #{subItem.scenPosition},  #{subItem.scenValue} )
			</foreach>
			;
			UPDATE TB_AGENTINTO SET SN = (SELECT   SCEN_VALUE 
																			FROM TB_AGENTINTO_SNSR_INFO 
																			WHERE   LOGIN_ID = #{item.loginId} AND SCEN_GUBUN = 'SN' 
																			ORDER BY SCEN_POSITION ASC  LIMIT 1),
																SN_INDEX = (SELECT  SCEN_POSITION 
																						FROM TB_AGENTINTO_SNSR_INFO 
																						WHERE   LOGIN_ID = #{item.loginId} AND SCEN_GUBUN = 'SN' 
																						ORDER BY SCEN_POSITION ASC  LIMIT 1),
																SR = (SELECT  SCEN_VALUE 
																			FROM TB_AGENTINTO_SNSR_INFO 
																			WHERE   LOGIN_ID = #{item.loginId} AND SCEN_GUBUN = 'SR' 
																			ORDER BY SCEN_POSITION ASC  LIMIT 1),
																SR_INDEX = (SELECT  SCEN_POSITION 
																						FROM TB_AGENTINTO_SNSR_INFO 
																						WHERE   LOGIN_ID = #{item.loginId} AND SCEN_GUBUN = 'SR' 
																						ORDER BY SCEN_POSITION ASC  LIMIT 1)
			WHERE  LOGIN_ID = #{item.loginId};
		</foreach>
	</insert>
	<insert id="insertAgentInfo">
		INSERT INTO TB_AGENTINTO	
		(
			LOGIN_ID, NAME, EXTENSION, AGENT_UPDATE
		)
		VALUES 
		(
			#{loginId}, #{name}, #{extension,jdbcType=VARCHAR}, NOW()
		)
		

		INSERT INTO TB_AGENTINTOHISTORY(LOGIN_ID, CONSULTANT_CODE, AGT_REG_DATE, AGT_HIS_REMARK)
		VALUES (#{extension}, '', NOW(), '최초 입고');
		<foreach collection="scenInfos" item="subItem" separator="">
				INSERT INTO TB_AGENTINTO_SNSR_INFO(LOGIN_ID, SCEN_GUBUN, SCEN_POSITION, SCEN_VALUE)
				VALUES(#{loginId},  #{subItem.scenGubun},  #{subItem.scenPosition} ,  #{subItem.scenValue});
		</foreach>
	</insert>
	<update id="updateAgentInfo">
		UPDATE TB_AGENTINTO SET  NAME = #{name}, 
																EXTENSION = #{extension}, 
																AGENT_UPDATE = NOW()       
		WHERE LOGIN_ID = #{loginId};
		DELETE FROM TB_AGENTINTO_SNSR_INFO WHERE  LOGIN_ID = #{loginId};
		<foreach collection="scenInfos" item="subItem" separator="">
				INSERT INTO TB_AGENTINTO_SNSR_INFO(LOGIN_ID, SCEN_GUBUN, SCEN_POSITION, SCEN_VALUE)
				VALUES(#{loginId},  #{subItem.scenGubun},  #{subItem.scenPosition} ,  #{subItem.scenValue});
		</foreach>
		
		UPDATE TB_AGENTINTO SET SN = (SELECT  SCEN_VALUE FROM TB_AGENTINTO_SNSR_INFO WHERE   LOGIN_ID = #{loginId} AND SCEN_GUBUN = 'SN' ORDER BY SCEN_POSITION ASC LIMIT 1),
						SN_INDEX = (SELECT   SCEN_POSITION FROM TB_AGENTINTO_SNSR_INFO WHERE   LOGIN_ID = #{loginId} AND SCEN_GUBUN = 'SN' ORDER BY SCEN_POSITION ASC LIMIT 1),
						SR = (SELECT SCEN_VALUE FROM TB_AGENTINTO_SNSR_INFO WHERE   LOGIN_ID = #{loginId} AND SCEN_GUBUN = 'SR' ORDER BY SCEN_POSITION ASC LIMIT 1),
						SR_INDEX = (SELECT  SCEN_POSITION FROM TB_AGENTINTO_SNSR_INFO WHERE   LOGIN_ID = #{loginId} AND SCEN_GUBUN = 'SR' ORDER BY SCEN_POSITION ASC LIMIT 1)
		WHERE  LOGIN_ID = #{loginId};
	</update>
	<!-- 
	<update id="updateStationConsultInfo">
		UPDATE TB_AGENTINTO SET CONSULT_USEYN = #{consultUseyn}
								AGENT_UPDATE = NOW()       
		WHERE LOGIN_ID = #{loginId}
	</update>
	 -->
	<delete id="deleteAgentInfo">
	    <!-- 추후 삭제시 메뉴 에서 삭제 시키기 -->
		DELETE FROM TB_AGENTINTO
		WHERE LOGIN_ID = #{loginId}
	</delete>
</mapper>