<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.system.backoffice.bas.system.mapper.SystemInfoManageMapper">

	<select id="selectSystemInfoList" resultType="SystemInfoResDto">     	      
		SELECT * FROM 
		( 
			SELECT 	
				SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, 
				TB.* 
			FROM 	
			(	
				SELECT @ROWNUM := @ROWNUM + 1 AS RNUM,
					 A.SYSTEM_CODE, A.SYSTEM_NAME, A.SYSTEM_DC, A.SYSTEM_CREATEDC, A.DOMAIN_INFO, A.SYSTEM_USEYN,
					 A.SYSTEM_ICON, A.SYSTEM_MENUGUBUN, A.SYSTEM_HEALTH_CHECK,
					 A.SYSTEM_GUBUN, fn_DetailCodeNm(A.SYSTEM_GUBUN) SYSTEM_GUBUN_TXT,
					 fn_DetailCodeNm( A.SYSTEM_HEALTH_CHECK) SYSTEM_HEALTH_CHECK_TXT, fn_DetailCodeNm( A.SYSTEM_MENUGUBUN) SYSTEM_MENUGUBUN_TXT,
					 A.SYSTEM_HEALTH_CHECK_URL, A.SYSTEM_CONN_LEVEL, fn_DetailCodeNm( A.SYSTEM_CONN_LEVEL) SYSTEM_CONN_LEVEL_TXT
				FROM TB_SYSTEMINFO A,  (select @ROWNUM := 0) RN_TB
				WHERE 1=1
				<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
					AND 
					( 
						A.SYSTEM_CODE LIKE  CONCAT ('%', #{params.searchKeyword},'%') 
						OR
						A.SYSTEM_NAME LIKE  CONCAT ('%', #{params.searchKeyword},'%') 
					) 
				</if>
				<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchSystemGubun)">
					AND A.SYSTEM_GUBUN = #{params.searchSystemGubun}
				</if>
			) TB 
		) TA
		ORDER BY TA.RNUM DESC 
		LIMIT #{params.firstIndex},#{params.recordCountPerPage} 
		
   	</select>
	<select id="selectSystemCombo" resultType="camelmap">
		SELECT A.SYSTEM_CODE, A.SYSTEM_NAME
		FROM TB_SYSTEMINFO A
		WHERE 1=1 
		<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.systemUseyn)">
		      AND A.SYSTEM_USEYN = #{params.systemUseyn}
		</if>
		<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.systemMenuGubun)">
		      AND A.SYSTEM_MENUGUBUN = #{params.systemMenuGubun}
		</if>
		<choose>
			<when test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.systemMenuUse) and (params.systemMenuUse == &quot;Y&quot;)">
				AND (A.SYSTEM_MENUGUBUN = 'MENU_GUBUN_1' OR A.SYSTEM_MENUGUBUN = 'MENU_GUBUN_2')
			</when>
			<when test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.systemMenuUse) and (params.systemMenuUse == &quot;N&quot;)">
				AND A.SYSTEM_MENUGUBUN = 'MENU_GUBUN_3' 
			</when>
		</choose>
		<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.systemConnLevel)">
		      AND A.SYSTEM_CONN_LEVEL = #{params.systemConnLevel}
		</if>
	</select>
   	<select id="selectSystemInfoDetail" resultType="SystemInfoResDto">
		SELECT A.SYSTEM_CODE, A.SYSTEM_NAME, A.SYSTEM_DC, A.SYSTEM_CREATEDC, A.DOMAIN_INFO, A.SYSTEM_USEYN,
			   A.SYSTEM_GUBUN, A.SYSTEM_ICON, A.SYSTEM_MENUGUBUN, A.SYSTEM_HEALTH_CHECK, A.SYSTEM_HEALTH_CHECK_URL
		FROM TB_SYSTEMINFO A
		WHERE A.SYSTEM_CODE = #{systemCode}
   	</select>
   	<select id="selectSystemByPk" resultType="Integer">
   		SELECT IFNULL(COUNT(*), 0)
   		FROM TB_SYSTEMINFO 
   		WHERE SYSTEM_CODE = #{systemCode}
   	</select>
	<insert id="insertSystemInfo">
		INSERT INTO TB_SYSTEMINFO	
		(
		    SYSTEM_CODE, SYSTEM_NAME, SYSTEM_DC, SYSTEM_CREATEDC, DOMAIN_INFO ,SYSTEM_USEYN, SYSTEM_GUBUN, 
		    SYSTEM_ICON, SYSTEM_MENUGUBUN, SYSTEM_HEALTH_CHECK, SYSTEM_HEALTH_CHECK_URL, SYSTEM_CONN_LEVEL
		)
		VALUES 
		(
			#{systemCode}, #{systemName}, #{systemDc,jdbcType=VARCHAR}, NOW(), #{domainInfo,jdbcType=VARCHAR}
			, #{systemUseyn,jdbcType=VARCHAR}, #{systemGubun} 
			, #{systemIcon,jdbcType=VARCHAR}, #{systemMenugubun,jdbcType=VARCHAR}, #{systemHealthCheck,jdbcType=VARCHAR}
			, #{systemHealthCheckUrl,jdbcType=VARCHAR} , #{systemConnLevel,jdbcType=VARCHAR}
		)
   	</insert>


	<update id="updateSystemInfo">
		UPDATE TB_SYSTEMINFO SET SYSTEM_NAME = #{systemName}, 
								DOMAIN_INFO = #{domainInfo,jdbcType=VARCHAR}, 
								SYSTEM_DC = #{systemDc, jdbcType=VARCHAR}  ,
								SYSTEM_USEYN =#{systemUseyn,jdbcType=VARCHAR} ,
		                         <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(systemIcon)">  
		                         <![CDATA[
								SYSTEM_ICON = #{systemIcon, jdbcType=VARCHAR} ,
		                         ]]>
		                         </if>
								SYSTEM_MENUGUBUN = #{systemMenugubun, jdbcType=VARCHAR} ,
								SYSTEM_HEALTH_CHECK = #{systemHealthCheck, jdbcType=VARCHAR} , 
								SYSTEM_HEALTH_CHECK_URL = #{systemHealthCheckUrl, jdbcType=VARCHAR} , 
								SYSTEM_CONN_LEVEL= #{systemConnLevel, jdbcType=VARCHAR} , 
								SYSTEM_GUBUN = #{systemGubun}
		WHERE SYSTEM_CODE = #{systemCode}
   	</update>
   	
   	<delete id="deleteSystemInfo">
   	    <!-- 추후 삭제시 메뉴 에서 삭제 시키기 -->
   		DELETE FROM TB_SYSTEMINFO
   		WHERE SYSTEM_CODE = #{systemCode}
   	</delete>
</mapper>