<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.backoffice.infra.bld.cnt.mapper.CenterInfoManageMapper">
   <select id="selectCenterInfoManageListByPagination"  resultType="CenterInfoVO">
	  SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
	        TB.* FROM (
		    SELECT  a.CENTER_ID, a.CENTER_NM, a.CENTER_IMG, a.CENTER_ZIPCODE, a.CENTER_ADDR1,
                    a.CENTER_ADDR2, a.CENTER_USE_YN, a.ADMIN_APPROVAL_YN, a.CENTER_UPDATE_DATE, a.CENTER_UPDATE_USER_ID,
                    a.CENTER_TEL , a.CENTER_FAX, a.CENTER_URL, 
		            b.ALL_INSTT_NM , a.INSTT_CODE
		    FROM    TB_CENTERINFO a, COMTNINSTTCODE b
		        WHERE a.INSTT_CODE = b.INSTT_CODE        
		        <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
						<choose>
							<when test="params.searchCondition == 'centerId'">
								and CENTER_ID LIKE CONCAT('%',#{params.searchKeyword},'%') 
							</when>
							<otherwise>
								and CENTER_NM LIKE CONCAT('%',#{params.searchKeyword},'%')  
							</otherwise>
						</choose>
				</if>		
				<if test="params.roleId != 'ROLE_ADMIN'">
				   and a.PART_ID IN (
				         SELECT part_id 
				         FROM TB_PARTINFO 
				         WHERE PART_ID = #{partId}
						 UNION ALL
						 SELECT  hi.part_id
								 FROM ( 
								     SELECT fn_hierarchy(part_id) AS partId, @level AS level 
								     FROM ( 
								            SELECT @start_with := #{partId}, 
								                   @partId := @start_with, 
								                   @level := 0 
								          ) vars, tb_partinfo 
								     WHERE @partId IS NOT NULL 
								     ) ho 
								JOIN TB_PARTINFO hi 
								ON hi.part_id = ho.partId
				   ) 
				</if>      		     
		        ORDER BY a.CENTER_ID  DESC
	        ) TB  
	         ORDER BY TB.CENTER_ID  DESC
	        limit   #{params.firstIndex},   #{params.recordCountPerPage}  		 	    
     </select>
    <select id="selectCenterInfoManageCombo"       resultType="CenterInfoVO">
       SELECT  CENTER_ID, CENTER_NM
       FROM TB_CENTERINFO
       WHERE CENTER_USE_YN = 'Y'
       ORDER BY  CENTER_NM  ASC
    </select>
    <select id="selectCenterInfoManageDetail"  resultType="CenterInfoVO">
           SELECT  CENTER_ID, CENTER_NM, CENTER_ZIPCODE, CENTER_ADDR1, CENTER_ADDR2, 
         		CENTER_TEL,CENTER_FAX,CENTER_REG_ID, CENTER_REGDATE, 
				CENTER_UPDATE_USER_ID, CENTER_UPDATE_DATE, CENTER_IMG, CENTER_URL, 
				CENTER_SEAT_IMG, CENTER_USE_YN, REST_INFO, 
				MEETINGROOM_INFO, CENTER_INFO, 
				ADMIN_APPROVAL_YN, INSTT_CODE,
				CENTER_FLOOR, CENTER_FLOOR_END, FLOOR_INFO 
		    FROM TB_CENTERINFO a
		    WHERE CENTER_ID = #{centerId}		  
    </select>
    <insert id="insertCenterInfoManage" >
        <![CDATA[
             INSERT INTO TB_CENTERINFO (CENTER_ID, CENTER_NM, CENTER_ZIPCODE, CENTER_ADDR1, CENTER_ADDR2, 
		             					CENTER_TEL,CENTER_FAX,CENTER_REG_ID, CENTER_REGDATE, 
										CENTER_UPDATE_USER_ID, CENTER_UPDATE_DATE, CENTER_IMG, CENTER_URL, 
										CENTER_SEAT_IMG, CENTER_USE_YN, REST_INFO, 
										MEETINGROOM_INFO, CENTER_INFO, 
										ADMIN_APPROVAL_YN, INSTT_CODE,
										CENTER_FLOOR, CENTER_FLOOR_END, FLOOR_INFO 
										)
             VALUES (FN_CENTERID(), #{centerNm},    #{centerZipcode ,jdbcType=VARCHAR}, #{centerAddr1 ,jdbcType=VARCHAR}, #{centerAddr2 ,jdbcType=VARCHAR}, 
		             #{centerTel,jdbcType=VARCHAR},  #{centerFax,jdbcType=VARCHAR}, #{userId}, NOW(),
		             #{userId,jdbcType=VARCHAR}, NOW(), #{centerImg,jdbcType=VARCHAR}, #{centerUrl ,jdbcType=VARCHAR}, 
		             #{centerSeatImg,jdbcType=VARCHAR}, #{centerUseYn,jdbcType=VARCHAR}, #{restInfo,jdbcType=VARCHAR}, 
		             #{meetingroomInfo,jdbcType=VARCHAR},  #{centerInfo,jdbcType=VARCHAR} , 
		             #{adminApprovalYn, jdbcType=VARCHAR}, #{insttCode, jdbcType=VARCHAR}, 
		             #{centerFloor, jdbcType=VARCHAR}, #{centerFloorEnd, jdbcType=VARCHAR} , #{floorInfo, jdbcType=VARCHAR} 
             )
         ]]>
     </insert>
     <update id="updateCenterInfoManage" >
		UPDATE  TB_CENTERINFO SET CENTER_NM = #{centerNm} ,
									CENTER_ZIPCODE = #{centerZipcode} ,
									CENTER_ADDR1 = #{centerAddr1} ,
									CENTER_ADDR2 = #{centerAddr2} ,
									CENTER_TEL = #{centerTel,jdbcType=VARCHAR} ,
									CENTER_FAX = #{centerFax,jdbcType=VARCHAR} ,
									CENTER_UPDATE_USER_ID =#{userId,jdbcType=VARCHAR} ,
									CENTER_UPDATE_DATE = NOW() ,
									CENTER_URL = #{centerUrl ,jdbcType=VARCHAR} ,
									CENTER_USE_YN = #{centerUseYn,jdbcType=VARCHAR} ,
									REST_INFO = #{restInfo,jdbcType=VARCHAR} ,
									MEETINGROOM_INFO = #{meetingroomInfo,jdbcType=VARCHAR} ,                                
									CENTER_INFO = #{centerInfo,jdbcType=VARCHAR}   
									<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(centerImg)  != '' ">                                    
									, CENTER_IMG = #{centerImg,jdbcType=VARCHAR}
									</if>
									 <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(centerSeatImg)  !=  '' ">                     
									, CENTER_SEAT_IMG = #{centerSeatImg,jdbcType=VARCHAR}
									</if>                               
									, ADMIN_APPROVAL_YN  = #{adminApprovalYn, jdbcType=VARCHAR}
									, INSTT_CODE =  #{insttCode, jdbcType=VARCHAR}
									, CENTER_FLOOR = #{centerFloor, jdbcType=VARCHAR}
									, CENTER_FLOOR_END = #{centerFloorEnd, jdbcType=VARCHAR} 
									, FLOOR_INFO  =  #{floorInfo, jdbcType=VARCHAR}
		WHERE CENTER_ID = #{centerId}
     </update>
     <update id="updateCenterStateChange">
     	UPDATE TB_CENTERINFO SET ADMIN_APPROVAL_YN  = #{adminApprovalYn, jdbcType=VARCHAR},
     							 CENTER_UPDATE_USER_ID = #{userId},
     							 CENTER_UPDATE_DATE = NOW()	
     	WHERE  CENTER_ID = #{centerId}
     </update>
     
	<delete id="deleteCenterInfoManage">
		DELETE FROM TB_CENTERINFO
		WHERE  CENTER_ID = #{centerId}
	</delete>
</mapper>