<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.backoffice.sym.svr.mapper.ServiceOidInfoManageMapper">
	<select id="selectServiceOidInfoPageList" resultType="camelmap">     	      
		SELECT * FROM 
		( 
			SELECT 	
				SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, 
				TB.* 
			FROM 	
			(	
				SELECT @ROWNUM := @ROWNUM + 1 AS RNUM,
						A.OID_SEQ, A.SERVICE_SEQ, A.OID_NUMBER, A.OID_NAME, A.OID_RESULT_TYPE, 
						A.LAST_OID_CONN_TIME, DATE_FORMAT( A.LAST_UPDT_PNTTM, '%Y-%m_%d %H:%i:%s') LAST_UPDT_PNTTM, A.LAST_UPDUSR_ID
				FROM TB_SERVER_OIDINFO A,  TB_SERVER_SERVICEINFO B, (select @ROWNUM := 0) RN_TB
				WHERE A.SERVICE_SEQ = B.SERVICE_SEQ
				<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
					AND 
					( 
						A.OID_NUMBER LIKE CONCAT ('%', #{params.searchKeyword},'%')  
						OR
						A.OID_NAME LIKE CONCAT ('%', #{params.searchKeyword},'%')  
					) 
				</if>
				<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchServiceSeq)">
					AND  A.SERVICE_SEQ = #{params.searchServiceSeq}
				</if>
			) TB 
		) TA
		ORDER BY TA.RNUM DESC 
		LIMIT #{params.firstIndex},#{params.recordCountPerPage} 
		
   	</select>
   	
   	<select id="selectServiceOidInfoDetail" resultType="ServiceOidInfo">
		SELECT   A.OID_SEQ, A.SERVICE_SEQ, A.OID_NUMBER, A.OID_NAME, A.OID_RESULT_TYPE, 
				 A.LAST_OID_CONN_TIME, A.LAST_UPDT_PNTTM, A.LAST_UPDUSR_ID
		FROM TB_SERVER_OIDINFO A
		WHERE A.OID_SEQ = #{serverCode}
   	</select>
   	<insert id="insertServiceOidInfo">
		INSERT INTO TB_SERVER_OIDINFO	
		(
		    SERVICE_SEQ, OID_NUMBER, OID_NAME, OID_RESULT_TYPE, 
			LAST_UPDT_PNTTM, LAST_UPDUSR_ID
		)
		VALUES 
		(
			#{serviceSeq}, #{oidNumber}, #{oidName}, #{oidResultType, jdbcType=VARCHAR},
			NOW(), #{userId}
		)
   	</insert>
	<update id="updateServerStatus">
		UPDATE TB_SERVER_OIDINFO SET LAST_OID_CONN_TIME = NOW()
		WHERE A.OID_SEQ = #{serverCode}
	</update>
	<update id="updateServiceOidInfo">
		UPDATE TB_SERVER_OIDINFO SET  OID_NUMBER = #{oidNumber}, 
									  OID_NAME = #{oidName, jdbcType=VARCHAR}, 
									  OID_RESULT_TYPE = #{oidResultType, jdbcType=VARCHAR}, 
									  LAST_UPDT_PNTTM = NOW(), 
									  LAST_UPDUSR_ID = #{userId, jdbcType=VARCHAR}
		WHERE OID_SEQ = #{oidSeq}
   	</update>
   	
   	<delete id="deleteServiceOidInfo">
   	    <!-- 추후 삭제시 메뉴 에서 삭제 시키기 -->
   		DELETE FROM TB_SERVER_OIDINFO
   		WHERE OID_SEQ = #{serverCode}
   	</delete>
</mapper>