<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.ipcc.cti.nexus.mapper.NexusLoginIdManageMapper">
	<select id="selectLoginIdInfoPageList" resultType="camelmap">
		SELECT R.* FROM
		(
			SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
				ROW_NUMBER() OVER (ORDER BY A.LOGIN_ID ASC) AS RNUM, 
				A.CENTER_ID, A.MEDIA_ID, A.LOGIN_ID, A.CREATE_DATE, A.MONITOR_FLAG ,
				B.CENTER_NAME , C.MEDIA_NAME
			FROM MA_LOGINID A	, MA_CENTER B , MA_MEDIA C  
			WHERE A.CENTER_ID = B.CENTER_ID 
						AND A.CENTER_ID = C.CENTER_ID
						AND A.MEDIA_ID = C.MEDIA_ID
			<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
				AND (A.LOGIN_ID LIKE   CONCAT('%',#{params.searchKeyword},'%')  )
			</if>		
			<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchMoniterFlag)">
				AND A.MONITOR_FLAG  = #{params.searchMoniterFlag}
			</if>					
		) R
		ORDER BY RNUM ASC
		LIMIT   #{params.firstIndex},   #{params.recordCountPerPage}  
	</select>
	<select id="selectLoginIdDetailInfo" resultType="NexusLoginIdInfo">
		SELECT CENTER_ID,MEDIA_ID,LOGIN_ID,CREATE_DATE,MONITOR_FLAG 
		FROM MA_LOGINID
		WHERE LOGIN_ID=#{loginId} 
						AND MEDIA_ID=#{mediaId} 
						AND CENTER_ID=#{centerId}
	</select>
	<select id="selectLoginIdExites" resultType="Integer">
		SELECT (
			SELECT COUNT(1) 
			FROM MA_LOGINID 
			WHERE LOGIN_ID=#{loginId} 
						<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(mediaId)">
						AND MEDIA_ID=#{mediaId} 
						</if>
						AND CENTER_ID=#{centerId}
		) FROM DUAL
	</select>
	<select id="selectParentIdExites" resultType="Integer">
		SELECT (
			SELECT COUNT(1)
			FROM MA_MEDIA 
			WHERE MEDIA_ID=#{mediaId} AND CENTER_ID=#{centerId}
		)FROM DUAL
	</select>
	<select id="selectTannentExites" resultType="Integer">
		SELECT (
			SELECT COUNT(1) 
			FROM MA_TENANT 
			WHERE TENANT_ID=#{tenantId} AND CENTER_ID=#{centerId}
		)FROM DUAL
	</select>
	<select id="selectEmIdExites" resultType="Integer">
		SELECT (
			SELECT COUNT(1) 
			FROM MA_EMPLOYEE WHERE LOGIN_ID=#{loginId} AND CENTER_ID=#{centerId}
		) FROM DUAL
	</select>
	<insert id="insertLoginIdInfo">
		INSERT INTO MA_LOGINID(CENTER_ID,MEDIA_ID,LOGIN_ID,CREATE_DATE,MONITOR_FLAG) 
		VALUES(#{centerId},#{mediaId},#{loginId},NOW(),#{monitorFlag})
	</insert>
	<update id="updateLoginIdInfo">
		UPDATE MA_LOGINID SET  MONITOR_FLAG = #{monitorFlag}
		WHERE CENTER_ID=#{centerId} 
						AND MEDIA_ID=#{mediaId} 
						AND LOGIN_ID=#{loginId}
	</update>
	<delete id="deleteLoginIdInfo">
		DELETE FROM MA_LOGINID 
		WHERE CENTER_ID=#{centerId} 
						AND MEDIA_ID=#{mediaId} 
						AND LOGIN_ID=#{loginId}
	</delete>

</mapper>