<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.backoffice.uat.uia.mapper.ConsultantManageMapper">
	<select id="selectConsultantrManageListByPagination" resultType="camelmap">     	      
		SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
			   TB.* FROM (
					   SELECT
							    A.PBX_EXTENSION, A.PBX_TYPE, A.PBX_COR, A.PBX_COS,
								A.PBX_NAME, A.PBX_SECURITY_CODE, A.PBX_LOGIN_ID, A.PBX_STATUS,
								A.PBX_BUTTON01, A.PBX_BUTTON02, A.PBX_BUTTON03, A.PBX_BUTTON04, A.PBX_BUTTON05,
								A.PBX_BUTTON06, A.PBX_BUTTON07, A.PBX_DISPLAY_LANGAGE,
								A.PBX_REG_DATE, A.PBX_UPDATE_DATE, A.CTI_CENTER_ID, A.CTI_TENANT_ID,
								A.CTI_EMPLOYEEGRPID, A.CTI_EMPLOYEEPARTID, A.CTI_EMPLOYEEID, 
								A.CTI_NAME, A.CTI_PASSWORD, A.CTI_BLEND_KIND, A.CTI_PERMIT_ID,
								A.CTI_MONITER_FLAG, A.CTI_DEFAULT_QUEUE, A.CTI_UPDATE_DATE,
								A.COUN_STATUS, A.FRST_REGIST_PNTTM, A.FRST_REGISTER_ID, A.AGENT_STATUS,
								A.LAST_UPDT_PNTTM, A.LAST_UPDUSR_ID, A.COUN_REMARK, A.COUN_USEYN,
								A.CTI_CENTER_NAME, A.CTI_EMPLOYEEGRP_NAME, A.CTI_EMPLOYEEPART_NAME, CTI_TENANT_NAME
					    FROM   TB_CONSULTANT A
						WHERE  1=1
		        <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
						<choose>
							<when test="params.searchCondition == 'params.conName'">
								AND ( A.CTI_NAME LIKE CONCAT('%',#{params.searchKeyword},'%') OR 
								      A.PBX_NAME  LIKE CONCAT('%',#{params.searchKeyword},'%') 
								    )
							</when>
							<otherwise>
								and A.PBX_EXTENSION LIKE CONCAT('%',#{params.searchKeyword},'%') 
							</otherwise>
						</choose>
				</if>		        
				<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.useYn)">
				         and A.COUN_USEYN = #{params.useYn}
				</if>		     
		        ORDER BY A.FRST_REGIST_PNTTM  DESC
	        ) TB 
              limit #{params.firstIndex} , #{params.recordCountPerPage}      		 	    
   </select>
   <select id="selectConstantCombo" resultType="camelmap">
   		SELECT PBX_EXTENSION, CTI_NAME
   		FROM TB_CONSULTANT
   		WHERE	1=1
   				<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(partId)">
					AND PART_ID = #{params.partId}
   				</if> 
   				AND PBX_EXTENSION NOT IN (SELECT  PBX_EXTENSION FROM TB_MANAGERINFO WHERE USE_YN = 'Y' AND PBX_EXTENSION IS NOT NULL )
   </select>   
   <select id="selectConstantEmpCombo" resultType="camelmap">
   		SELECT PBX_EXTENSION, CTI_NAME
   		FROM TB_CONSULTANT
   		WHERE  PBX_EXTENSION NOT IN (SELECT  PBX_EXTENSION 
   									 FROM TB_MANAGERINFO 
   									 WHERE USE_YN = 'Y' AND PBX_EXTENSION IS NOT NULL 
   											<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.empExtension)">	
   											AND PBX_EXTENSION != #{params.empExtension} 
   											</if>
   											<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.partId)">
							   				AND PART_ID = #{params.partId}
							   				</if> 
									 )
   </select>   
   
   
   <select id="selectConsultantrManageDetail" resultType="ConsultantInfo">
      SELECT PBX_EXTENSION,
			 PBX_TYPE,
			 PBX_COR,
			 PBX_COS,
			 PBX_NAME,
			 PBX_SECURITY_CODE,
			 PBX_LOGIN_ID,
			 PBX_STATUS,
			 PBX_REG_DATE,
			 PBX_UPDATE_DATE,
			 PBX_BUTTON01,
			 PBX_BUTTON02,
			 PBX_BUTTON03,
			 PBX_BUTTON04,
			 PBX_BUTTON05,
			 PBX_BUTTON06,
			 PBX_BUTTON07,
			 PBX_DISPLAY_LANGAGE,
			 CTI_CENTER_ID,
			 CTI_TENANT_ID,
			 CTI_EMPLOYEEGRPID,
			 CTI_EMPLOYEEPARTID,
			 CTI_EMPLOYEEID,
			 CTI_NAME,
			 CTI_PASSWORD,
			 CTI_BLEND_KIND,
			 CTI_PERMIT_ID,
			 CTI_MONITER_FLAG,
			 CTI_DEFAULT_QUEUE,
			 CTI_UPDATE_DATE,
			 COUN_STATUS,
			 FRST_REGIST_PNTTM,
			 FRST_REGISTER_ID,
			 LAST_UPDT_PNTTM,
			 LAST_UPDUSR_ID,
			 COUN_REMARK
      FROM TB_CONSULTANT
      WHERE PBX_EXTENSION = #{pbxExtension}
   </select>
   <select id="selectConsultantrMangerIDCheck" resultType="java.lang.Integer">
	  SELECT  IFNULL(COUNT(*),0)      
	  FROM   TB_CONSULTANT
	  WHERE  PBX_EXTENSION = #{pbxExtension}
   </select>
   
   <insert id="insertConsultantrManage">
      INSERT INTO TB_CONSULTANT(PBX_EXTENSION, PBX_TYPE, PBX_COR, PBX_COS, PBX_NAME, PBX_SECURITY_CODE,
      							COUN_REMARK, PBX_STATUS, PBX_REG_DATE, PBX_UPDATE_DATE,
      							PBX_BUTTON01, PBX_BUTTON02, PBX_BUTTON03, PBX_BUTTON04, PBX_BUTTON05,
								PBX_BUTTON06, PBX_BUTTON07, PBX_DISPLAY_LANGAGE,
      							FRST_REGIST_PNTTM, FRST_REGISTER_ID, LAST_UPDT_PNTTM, LAST_UPDUSR_ID
      							)
      VALUES (#{pbxExtension}, #{pbxType}, #{pbxCor}, #{pbxCos}, #{pbxName,jdbcType=VARCHAR },  #{pbxSecurityCode ,jdbcType=VARCHAR},
      		  #{counRemark ,jdbcType=VARCHAR}, 'OK', NOW(), NOW(),
      		  #{pbxButton01, jdbcType=VARCHAR },#{pbxButton02, jdbcType=VARCHAR },#{pbxButton03, jdbcType=VARCHAR },#{pbxButton04, jdbcType=VARCHAR },
      		  #{pbxButton05, jdbcType=VARCHAR },
      		  #{pbxButton06, jdbcType=VARCHAR }, #{pbxButton07, jdbcType=VARCHAR }, #{pbxDisplayLangage, jdbcType=VARCHAR },
               NOW(), #{userId }, NOW(), #{userId }  )
   </insert>
   <update id="updateConsultantrPbxStatusManage">
      UPDATE TB_CONSULTANT SET PBX_TYPE = #{pbxType}
                                , PBX_COR = #{pbxCos}
                                , PBX_NAME = #{pbxName }
                                , PBX_SECURITY_CODE = #{pbxSecurityCode, jdbcType=VARCHAR }
                                , PBX_DISPLAY_LANGAGE = #{pbxDisplayLangage, jdbcType=VARCHAR }
                                , PBX_STATUS = 'OK'
                                , PBX_UPDATE_DATE =  NOW()
                                , PBX_BUTTON01 = #{pbxButton01, jdbcType=VARCHAR }
                                , PBX_BUTTON02 = #{pbxButton01, jdbcType=VARCHAR }
                                , PBX_BUTTON03 = #{pbxButton01, jdbcType=VARCHAR }
                                , PBX_BUTTON04 = #{pbxButton01, jdbcType=VARCHAR }
                                , PBX_BUTTON05 = #{pbxButton01, jdbcType=VARCHAR }
                                , PBX_BUTTON06 = #{pbxButton01, jdbcType=VARCHAR }
                                , PBX_BUTTON07 = #{pbxButton01, jdbcType=VARCHAR }
      WHERE PBX_EXTENSION = #{pbxExtension};
      
				
				
   </update>
   <update id="updateConsultantrPbxAgentManage">
      UPDATE TB_CONSULTANT SET PBX_LOGIN_ID = #{pbxLoginId}
                                , AGENT_STATUS = 'OK'
                                , PBX_UPDATE_DATE =  NOW()
                                , LAST_UPDT_PNTTM  = NOW()
       							, LAST_UPDUSR_ID = #{userId}
      WHERE PBX_EXTENSION = #{pbxExtension};
      
      DELETE FROM TB_CONSULTANT_AGENTINFO WHERE PBX_LOGIN_ID = #{pbxLoginId};
     <!-- 
      <foreach collection="params.couponList" item="item" separator=";" open="" close="; ">  
		INSERT INTO TB_CONSULTANT_AGENTINFO( PBX_LOGIN_ID, PBX_SN_TYPE, PBX_SN_INDEX, PBX_SR_TYPE, PBX_SR_INDEX)
		VALUES (#{pbxLoginId}, #{item.pbxSnType, jdbcType=VARCHAR },  #{item.pbxSnIndex, jdbcType=VARCHAR }
				, #{item.pbxSrType, jdbcType=VARCHAR },  #{item.pbxSrIndex, jdbcType=VARCHAR })
	 </foreach>
	  -->
   </update>
   <update id="updateConsultantrCtisManage">
      UPDATE TB_CONSULTANT SET CTI_CENTER_ID= #{ctiCenterId},
							   CTI_TENANT_ID= #{ctiTenantId},
							   CTI_EMPLOYEEGRPID= #{ctiEmployeegrpid},
						       CTI_EMPLOYEEPARTID= #{ctiEmployeepartid},
						       CTI_EMPLOYEEID= #{ctiEmployeeid},
						       CTI_NAME= #{ctiName},
						       CTI_PASSWORD= #{ctiPassword},
						       CTI_BLEND_KIND= #{ctiBlendKind},
						       CTI_PERMIT_ID= #{ctiPermitId},
						       CTI_MONITER_FLAG= #{ctiMoniterFlag},
						       CTI_DEFAULT_QUEUE= #{ctiDefaultQueue},
						       CTI_UPDATE_DATE =  NOW(),
						       LAST_UPDT_PNTTM  = NOW(),
       						   LAST_UPDUSR_ID = #{userId},
       						   COUN_USEYN = #{counUseyn},
							   CTI_CENTER_NAME = #{ctiCenterName},
							   CTI_EMPLOYEEGRP_NAME = #{ctiEmployeegrpName},
							   CTI_EMPLOYEEPART_NAME = #{ctiEmployeepartName},
							   CTI_TENANT_NAME = #{ctiTenantName},
							   COUN_STATUS = 'Y'
      WHERE PBX_EXTENSION = #{pbxExtension}
   </update>
   <update id="updateConsultantrManage">
       UPDATE TB_CONSULTANT set COUN_REMARK = #{counRemark}, 
       							COUN_USEYN = #{counUseyn}, 
       							LAST_UPDT_PNTTM  = now(),
       							LAST_UPDUSR_ID = #{userId}
       WHERE  PBX_EXTENSION = #{pbxExtension}
   </update>
   <delete id="deleteConsultantrManage">
      DELETE FROM TB_CONSULTANT
      WHERE PBX_EXTENSION = #{pbxExtension}
   </delete>
</mapper>